extends layout

block content
    main
      h1  Новинки 
      // Блок слайдер
      .slaider__block_cakes
        .slaider__block_20_img
          .slaider__block_img_style
            h2 МАКАРОНС ЧЕРНЫЙ МАВР
            p
              | Французское миндальное печенье с начинкой из нежного ганаша, на основе бельгийского молочного и черного шоколада, сливок, джандуи и рома.
            table
              tbody
                tr
                  td Вес:
                  td 30
                  td гр.
                tr
                  td Цена:
                  td 10
                  td руб.
            button.block__basket
              i.fas.fa-shopping-basket
              |  Добавить в корзину
        .slaider__block_21_img
          .slaider__block_img_style
            h2 МУССОВЫЙ ПАТИССОН
            p
              | Генуэзский фисташковый бисквит, грейпфрутовое конфи, мусс из розовых грейпфрутов, компоте клубничное, бисквит захер на основе белого бельгийского шоколада, гляссаж грейпфрутовый.
            table
              tbody
                tr
                  td Вес:
                  td 0,5
                  td кг.
                tr
                  td Цена:
                  td 25
                  td руб.
            button.block__basket
              i.fas.fa-shopping-basket
              |  Добавить в корзину
        .slaider__block_22_img
          .slaider__block_img_style
            h2 МАКАРОНС LOVE IS...
            p
              | Французское миндальное печенье с клубнично - банановой начинкой, начинка на основе бананового ганаша приготовленного из белого шоколада, сливок и пюре банана с добавлением клубничного кули.
            table
              tbody
                tr
                  td Вес:
                  td 30
                  td гр.
                tr
                  td Цена:
                  td 10
                  td руб.
            button.block__basket
              i.fas.fa-shopping-basket
              |  Добавить в корзину
        .slaider__block_23_img
          .slaider__block_img_style
            h2 МУССОВЫЙ ТОРТ ЛЮБАША
            p
              | Белый бисквит на основе белого бельгийского шоколада, кули персик маракуя, легкий мусс на основе молочного шоколада, йогуртовый абрикосовый мусс с добавлением абрикосового джема.
            table
              tbody
                tr
                  td Вес:
                  td 0,5
                  td кг.
                tr
                  td Цена:
                  td 40
                  td руб.
            button.block__basket
              i.fas.fa-shopping-basket
              |  Добавить в корзину
      .owl-carousel
        .slaider__block
          .slaider__block_1_img
            .slaider__block_img_style
              h2 МАКАРОНС ЧЕРНЫЙ МАВР
              p
                | Французское миндальное печенье с начинкой из нежного ганаша, на основе бельгийского молочного и черного шоколада, сливок, джандуи и рома.
              table
                tbody
                  tr
                    td Вес:
                    td 30
                    td гр.
                  tr
                    td Цена:
                    td 10
                    td руб.
              button.block__basket
                i.fas.fa-shopping-basket
                |  Добавить в корзину
        .slaider__block
          .slaider__block_2_img
            .slaider__block_img_style
              h2 МУССОВЫЙ ПАТИССОН
              p
                | Генуэзский фисташковый бисквит, грейпфрутовое конфи, мусс из розовых грейпфрутов, компоте клубничное, бисквит захер на основе белого бельгийского шоколада, гляссаж грейпфрутовый.
              table
                tbody
                  tr
                    td Вес:
                    td 0,5
                    td кг.
                  tr
                    td Цена:
                    td 25
                    td руб.
              button.block__basket
                i.fas.fa-shopping-basket
                |  Добавить в корзину
        .slaider__block
          .slaider__block_3_img
            .slaider__block_img_style
              h2 МАКАРОНС LOVE IS...
              p
                | Французское миндальное печенье с клубнично - банановой начинкой, начинка на основе бананового ганаша приготовленного из белого шоколада, сливок и пюре банана с добавлением клубничного кули.
              table
                tbody
                  tr
                    td Вес:
                    td 30
                    td гр.
                  tr
                    td Цена:
                    td 10
                    td руб.
              button.block__basket
                i.fas.fa-shopping-basket
                |  Добавить в корзину
        .slaider__block
          .slaider__block_4_img
            .slaider__block_img_style
              h2 МУССОВЫЙ ТОРТ ЛЮБАША
              p
                | Белый бисквит на основе белого бельгийского шоколада, кули персик маракуя, легкий мусс на основе молочного шоколада, йогуртовый абрикосовый мусс с добавлением абрикосового джема.
              table
                tbody
                  tr
                    td Вес:
                    td 0,5
                    td кг.
                  tr
                    td Цена:
                    td 40
                    td руб.
              button.block__basket
                i.fas.fa-shopping-basket
                |  Добавить в корзину
      h4  Идейные вдохновители кондитерского цеха
      .block__cooks
        .block__cooks_style
          img(src='img/Cook3.jpg')
          h5 Мастер-шеф Иванов П.П.
        .block__cooks_style
          img(src='img/Cook2.jpg')
          h5 Су-шеф Петров А.А.
        .block__cooks_style
          img(src='img/Cook3.jpg')
          h5 Кондитер Иванов В.П.
